*~
.*~
src/*~
obj
tmp/
convert2root
runana
gif_info
spe.pdf
ampl_dist.pdf
dv.pdf
dv_diff.pdf
dv_diff_simtelarr_wf_sim.pdf
sipmCameraHist_test.pdf
sipmCameraHist_test02.pdf
sipmCameraHist_test03.pdf
sipmCameraHist_test_drawer_id.pdf
v_diff_simtelarr_wf_sim.pdf
wf.pdf
wf_template.pdf
hist_corsika_run307.root
hist_corsika_run307_no_nsb_cut.root
runanashort
hist_short_corsika_run307_no_nsb_cut.root
spe_FADC_fast_sim.pdf
spe_FADC_normal_sim.pdf
ev_2818703/
ev_3590000/
ev_4171609/
ev_4208001/
ev_4558000/
ev_5755006/
ev_6443906/
ev_7963405/
ev_8175507/
ev_9265006/
ev_synthetic_27102/
hist_corsika_run307_proton_no_nsb_cut.root
wf_file_list_proton.list
ev_2500_881406/
ev_881406/
hist_corsika_run307_gamma_no_nsb_cut.root
