*~
.*~
src/*~
obj
tmp/
convert2root
runana
gif_info
spe.pdf
ampl_dist.pdf
dv.pdf
dv_diff.pdf
dv_diff_simtelarr_wf_sim.pdf
sipmCameraHist_test.pdf
sipmCameraHist_test02.pdf
sipmCameraHist_test03.pdf
sipmCameraHist_test_drawer_id.pdf
v_diff_simtelarr_wf_sim.pdf
wf.pdf
wf_template.pdf
hist_corsika_run307.root
hist_corsika_run307_no_nsb_cut.root
