*~
.*~
src/*~
obj
tmp/
convert2root
runana
gif_info
spe.pdf
ampl_dist.pdf
dv.pdf
dv_diff.pdf
dv_diff_simtelarr_wf_sim.pdf
sipmCameraHist_test.pdf
sipmCameraHist_test02.pdf
sipmCameraHist_test03.pdf
sipmCameraHist_test_drawer_id.pdf
v_diff_simtelarr_wf_sim.pdf
wf.pdf
wf_template.pdf
hist_corsika_run307.root
hist_corsika_run307_no_nsb_cut.root
runanashort
hist_short_corsika_run307_no_nsb_cut.root
spe_FADC_fast_sim.pdf
spe_FADC_normal_sim.pdf
ev_2818703/
ev_3590000/
ev_4171609/
ev_4208001/
ev_4558000/
ev_5755006/
ev_6443906/
ev_7963405/
ev_8175507/
ev_9265006/
ev_synthetic_27102/
hist_corsika_run307_proton_no_nsb_cut.root
wf_file_list_proton.list
ev_2500_881406/
ev_881406/
hist_corsika_run307_gamma_no_nsb_cut.root
log
sipmCameraHist_test04.pdf
sipmCameraHist_test05.pdf
sipmCameraHist_test_pixel_neighbors_id.pdf
sipmCameraHist_test_pixel_neighbors_second_id.pdf
sipmCameraHist_test_pixel_neighbors_third_id.pdf
sipmCameraHist_test_pixel_super_flower_id_one.pdf
sipmCameraHist_test_pixel_super_flower_id_zero.pdf
ev_2500_51205/
ev_npe.info
ev_synthetic_111_2206/
ev_synthetic_118_2303/
ev_synthetic_142_2707/
ev_synthetic_2500_51205/
ev_synthetic_2500_881406/
ev_synthetic_405_7908/
ev_synthetic_4_109/
ev_synthetic_746_15308/
ev_synthetic_848_17206/
ev_synthetic_872_17700/
ev_synthetic_952_19007/
ev_synthetic_959_19200/
sipmCameraHist_test_pixel_super_flower_id.pdf
ev_synthetic_1222_24502/
ev_synthetic_1351_27109/
ev_synthetic_1374_27803/
ev_synthetic_1642_33305/
ev_synthetic_1673_33902/
ev_synthetic_1699_34509/
ev_synthetic_1708_34709/
ev_synthetic_2153_43704/
ev_synthetic_2993_61602/
ev_synthetic_3058_63103/
ev_synthetic_3139_64603/
ev_synthetic_3140_64604/
ev_synthetic_375_7207/
ev_synthetic_3792_78506/
ev_synthetic_3799_78606/
ev_synthetic_3929_81400/
ev_synthetic_3932_81405/
ev_synthetic_397_7705/
ev_synthetic_4064_83901/
ev_synthetic_4067_83905/
ev_synthetic_4540_93106/
ev_synthetic_896_18009/
ev_synthetic_929_18701/
hist_corsika_run307_pe_info.root
corsika_run*.header.pkl
corsika_run*.pe_info.pkl
electron/
gamma/
gamma_diffuse/
proton/
screenlog.0
y_core_vs_xcore_electron_1_20_stat.pdf
y_core_vs_xcore_electron_more10_less40pe_1_20_stat.pdf
y_core_vs_xcore_full_stat.pdf
y_core_vs_xcore_gamma_diff_1_20_stat_more10pe_less_40pe.pdf
y_core_vs_xcore_gamma_full_stat_more10pe_less_40pe.pdf
y_core_vs_xcore_gammadiff_1_20_stat.pdf
y_core_vs_xcore_proton_1_50_stat.pdf
y_core_vs_xcore_proton_more10_less40pe_1_50_stat.pdf
h_first_gamma_full_stat.pdf
hist_electron_nsb_1x.root
hist_gamma_diffuse_nsb_1x.root
hist_gamma_on_nsb_1x_100p.e.root
hist_gamma_on_nsb_1x_20p.e.root
hist_gamma_on_nsb_1x_40p.e.root
hist_gamma_on_nsb_1x_60p.e.root
hist_gamma_on_nsb_1x_NSB.root
hist_proton_nsb_1x.root
hmax_gamma_full_stat.pdf
gamma_difi_sum5ns.pdf
gamma_digi_sum3ns.pdf
camera_center_gamma_10-40pe.pdf
camera_center_gamma_diff_10-40pe.pdf
camera_gamma_10-40pe.pdf
camera_mercedes_gamma.pdf
camera_mercedes_gamma_diff.pdf
camera_rotation_gamma.pdf
digi_sum.pdf
ID_to_rm.gamma
ID_to_rm.electron
ID_to_rm.proton
ID_to_rm.gamma_diffuse
.ipynb_checkpoints/svd-checkpoint.ipynb
S.cvs
Vh.cvs
camera_im_1000pe_2000pe.pdf
camera_im_1000pe_2000pe_hmax10km.pdf
camera_im_1000pe_2000pe_hmax13km.pdf
camera_im_1000pe_2000pe_hmax14km.pdf
camera_im_1000pe_2000pe_hmax15km.pdf
camera_im_1000pe_2000pe_hmax5km.pdf
data_non_normalized.csv
data_non_normalized_36575ev_887ch.csv
data_non_normalized_887ch.csv
ev_1000pe.pdf
hist_gamma_on_nsb_1x.root
principle_1000pe.pdf
principle_hightorder_1000pe.pdf
sipmCameraHistCropped_pix.map
sipmCameraHistCropped_test.pdf
sipmCameraHistCropped_test01.pdf
sipmCameraHistCropped_test02.pdf
sipmCameraHist_formSimpHist_test.pdf
E_dist_cut_10172.pdf
c1_evH_all.pdf
c1_evH_all_simtel.pdf
c1_evH_cut.pdf
c1_evH_eff.pdf
c1_evH_eff_one.pdf
c1_evH_flux_final.pdf
c1_evH_flux_one_final.pdf
c1_evH_flux_tot.pdf
ev_synthetic_124790_5465009/
ev_synthetic_143047_3513701/
ev_synthetic_145282_4487303/
ev_synthetic_154835_8696307/
ev_synthetic_1642_33202/
ev_synthetic_170211_851209/
ev_synthetic_179699_9785008/
ev_synthetic_184478_1887102/
ev_synthetic_184579_1924601/
ev_synthetic_185077_2178108/
ev_synthetic_187373_3238608/
ev_synthetic_193092_5707701/
ev_synthetic_198048_7879801/
ev_synthetic_204414_680600/
ev_synthetic_259966_703300/
ev_synthetic_338715_9990708/
ev_synthetic_380672_8650708/
ev_synthetic_499225_1450207/
ev_synthetic_628655_9128702/
ev_synthetic_663307_4650803/
ev_synthetic_66724_9786907/
ev_synthetic_714851_7442702/
ev_synthetic_71559_1995106/
ev_synthetic_736295_6983609/
ev_synthetic_762120_8341307/
ev_synthetic_809713_9550605/
ev_synthetic_890894_5625400/
ev_synthetic_975878_715404/
ff
gamma_core.pdf
gamma_diff_fit_e.pdf
hist_fast_electron_nsb_1x.log
hist_fast_electron_nsb_1x.root
hist_fast_electron_nsb_1x_1pe.root
hist_fast_gamma_diffuse_nsb_1x.log
hist_fast_gamma_diffuse_nsb_1x.root
hist_fast_gamma_diffuse_nsb_1x_1pe.root
hist_fast_gamma_diffuse_nsb_1x_cut.log
hist_fast_gamma_diffuse_nsb_1x_cut.root
hist_fast_gamma_on_nsb_1x.log
hist_fast_gamma_on_nsb_1x_1pe.root
hist_fast_gamma_on_nsb_1x_cut.log
hist_fast_proton_nsb_1x.log
hist_fast_proton_nsb_1x.root
hist_fast_proton_nsb_1x_10172_ev.root
hist_fast_proton_nsb_1x_19257ev.root
hist_fast_proton_nsb_1x_1pe.root
hist_fast_proton_nsb_1x_33837ev.root
hist_fast_proton_nsb_1x_39681ev.root
hist_fast_proton_nsb_1x_7900ev.root
hist_gamma_on_corsika_0000ID.root
hist_gamma_on_tw.root
hist_proton_nsb_1x_tw.root
npe_gamma_on_gamma_diff_cut_wo-w.pdf
nphotons.pdf
nphotons_gamma_diff_cut_wo-w.pdf
pp
principle_gamma_diff.pdf
principle_proton.pdf
x_vs_y_core_g_gd_e_p_100pe.pdf
x_vs_y_core_g_gd_e_p_10pe.pdf
x_vs_y_core_g_gd_e_p_1pe.pdf
x_vs_y_core_g_gd_e_p_200pe.pdf
x_vs_y_core_g_gd_e_p_50pe.pdf
ev_synthetic_12118108_2234907/
ev_synthetic_1218953_2617007/
ev_synthetic_135723_4753500/
ev_synthetic_16219735_1917101/
ev_synthetic_17040599_1053307/
ev_synthetic_1724488_4652101/
ev_synthetic_17269715_2520601/
ev_synthetic_1768962_2836601/
ev_synthetic_1979525_2911700/
ev_synthetic_2023749_1085300/
ev_synthetic_20449567_3261004/
ev_synthetic_2069890_4387204/
ev_synthetic_2301553_996704/
ev_synthetic_2362795_390703/
ev_synthetic_2378773_1538007/
ev_synthetic_2481499_3930204/
ev_synthetic_27869493_4349404/
ev_synthetic_31214745_851107/
ev_synthetic_3192050_4962405/
ev_synthetic_35291254_3938109/
ev_synthetic_439530_1606205/
ev_synthetic_4529997_2001808/
ev_synthetic_474353_4085204/
ev_synthetic_49681_3589308/
ev_synthetic_524445_2647401/
ev_synthetic_5389323_3840104/
ev_synthetic_55623_4016406/
ev_synthetic_5712136_2065407/
ev_synthetic_576379_1414600/
ev_synthetic_646949_1455502/
ev_synthetic_6792462_4693009/
ev_synthetic_7611489_3453902/
ev_synthetic_783671_1244305/
ev_synthetic_845310_706502/
ev_synthetic_9353299_3496208/
angle_between_optical_axis_particle.pdf
gamma_diff_ev
hist_fast_gamma_diffuse_nsb_1x_cut_3000pe.log
hist_gamma_diffuse_nsb_1x_tw.root
hist_gamma_diffuse_nsb_1x_PCAp.root
hist_gamma_diffuse_nsb_1x_PCAp_0.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_10.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_100.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_110.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_120.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_130.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_140.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_150.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_160.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_170.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_175deg_70deg.root
hist_gamma_diffuse_nsb_1x_PCAp_177.5deg_70deg.root
hist_gamma_diffuse_nsb_1x_PCAp_180.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_180deg_68deg.root
hist_gamma_diffuse_nsb_1x_PCAp_180deg_69deg.root
hist_gamma_diffuse_nsb_1x_PCAp_180deg_70deg.root
hist_gamma_diffuse_nsb_1x_PCAp_180deg_71deg.root
hist_gamma_diffuse_nsb_1x_PCAp_180deg_72deg.root
hist_gamma_diffuse_nsb_1x_PCAp_182.5deg_70deg.root
hist_gamma_diffuse_nsb_1x_PCAp_190.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_20.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_200.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_210.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_230.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_240.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_250.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_260.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_270.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_280.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_290.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_30.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_300.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_310.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_320.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_330.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_340.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_350.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_360.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_40.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_50.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_60.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_70.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_80.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_90.0phizero.root
hist_gamma_diffuse_nsb_1x_PCAp_component.root
hist_gamma_on_nsb_1x_PCAp.root
hist_gamma_on_nsb_1x_PCAp_component.root
hist_proton_nsb_1x_PCAp.root
hist_proton_nsb_1x_PCAp_component.root
sipm_cam_norot_177.5deg_70deg.pdf
sipm_cam_norot_180deg_68deg.pdf
sipm_cam_norot_180deg_69deg.pdf
sipm_cam_norot_180deg_70deg.pdf
sipm_cam_norot_180deg_71deg.pdf
sipm_cam_norot_180deg_72deg.pdf
sipm_cam_norot_182.5deg_70deg.pdf
ev_synthetic_663307_2617102/
009_27.10.2017_ARICH_Basf2_burmist.pdf
ev_synthetic_39807_7868005/
hist_trg_proton_nsb_1x_corsika_0000ID.root
c01_h2_e.pdf
c01_h2_g.pdf
c01_h2_gd.pdf
c01_h2_p.pdf
e_fit_electrons_cut.pdf
e_fit_proton_cut.pdf
fit_E_gmma.pdf
npe_cut_controll_sample_g_gd_e_p.pdf
hist_fast_scan_electron_nsb_1x.log
hist_fast_scan_electron_nsb_1x.root
hist_fast_scan_gamma_diffuse_nsb_1x.log
hist_fast_scan_gamma_diffuse_nsb_1x.root
hist_fast_scan_gamma_diffuse_nsb_1x_cut.root
hist_fast_scan_gamma_on_nsb_1x.log
hist_fast_scan_gamma_on_nsb_1x.root
hist_fast_scan_gamma_on_nsb_1x_cut.root
hist_fast_scan_proton_nsb_1x.log
hist_fast_scan_proton_nsb_1x.root
a.out
ev_synthetic_10206_208304/
ev_synthetic_1026_21201/
ev_synthetic_10391_212403/
ev_synthetic_10392_212404/
ev_synthetic_10580_216305/
ev_synthetic_11063_226301/
ev_synthetic_1113_22800/
ev_synthetic_111_2401/
ev_synthetic_1160_23801/
ev_synthetic_1160_23801_new/
ev_synthetic_1160_23801_old/
ev_synthetic_11697_238905/
ev_synthetic_1175_24003/
ev_synthetic_118_2408/
ev_synthetic_12409_253404/
ev_synthetic_12666_258506/
ev_synthetic_13624_278900/
ev_synthetic_13655_279602/
ev_synthetic_142_2904/
ev_synthetic_1430_29004/
ev_synthetic_1444_29209/
ev_synthetic_1456_29408/
ev_synthetic_1459_29503/
ev_synthetic_1486_30103/
ev_synthetic_1588_32208/
ev_synthetic_1693_34300/
ev_synthetic_1825_36908/
ev_synthetic_1918_39002/
ev_synthetic_214_4509/
ev_synthetic_2373_48004/
ev_synthetic_2405_48601/
ev_synthetic_2465_49508/
ev_synthetic_2619_52804/
ev_synthetic_3415_69303/
ev_synthetic_3509_71407/
ev_synthetic_3717_75402/
ev_synthetic_3718_75408/
ev_synthetic_4027_81609/
ev_synthetic_4047_82202/
ev_synthetic_405_8206/
ev_synthetic_4531_91808/
ev_synthetic_4727_95801/
ev_synthetic_4821_97907/
ev_synthetic_5061_103104/
ev_synthetic_588_12105/
ev_synthetic_590_12107/
ev_synthetic_626_12700/
ev_synthetic_6332_128605/
ev_synthetic_716_14500/
ev_synthetic_7347_149404/
ev_synthetic_7478_152005/
ev_synthetic_796_16307/
ev_synthetic_811_16708/
ev_synthetic_8142_166307/
ev_synthetic_824_16906/
ev_synthetic_848_17308/
ev_synthetic_862_17609/
ev_synthetic_872_17905/
ev_synthetic_934_19307/
ev_synthetic_949715_176307/
ev_synthetic_950077_183602/
ev_synthetic_952_19702/
ev_synthetic_959_19904/
ev_synthetic_9855_201605/
ev_synthetic_trg_v_10392ev.csv
ev_synthetic_trg_v_111ev.csv
ev_synthetic_trg_v_118ev.csv
ev_synthetic_trg_v_12409ev.csv
ev_synthetic_trg_v_142ev.csv
ev_synthetic_trg_v_1430ev.csv
ev_synthetic_trg_v_4027ev.csv
ev_synthetic_trg_v_405ev.csv
ev_synthetic_trg_v_4727ev.csv
ev_synthetic_trg_v_6332ev.csv
ev_synthetic_trg_v_7347ev.csv
ev_synthetic_trg_v_7478ev.csv
ev_synthetic_trg_v_8142ev.csv
ev_synthetic_trg_v_872ev.csv
ev_synthetic_trg_v_9855ev.csv
h1_gr2D_csv_ev_synthetic/
hist_fast_gamma_on_nsb_1x_cut_faint.log
hist_trg_gamma_on_nsb_1x_corsika_0000ID.root
run_dbscan
sipm_cam_ev23801_digi_sum.gif
sipm_cam_ev23801_digi_sum_poscluster.gif
sipm_cam_ev23801_digi_sum_poscluster_timecluster.gif
ev_synthetic_201_16501/
ev_synthetic_21_1804/
ev_synthetic_21_600/
ev_synthetic_3_105/
ev_synthetic_5_107/
ev_synthetic_7_203/
ev_synthetic_trg_v_10206ev.csv
ev_synthetic_trg_v_17ev.csv
ev_synthetic_trg_v_19ev.csv
ev_synthetic_trg_v_201ev.csv
ev_synthetic_trg_v_21ev.csv
ev_synthetic_trg_v_22248ev.csv
ev_synthetic_trg_v_22461ev.csv
ev_synthetic_trg_v_23475ev.csv
ev_synthetic_trg_v_26666ev.csv
ev_synthetic_trg_v_27676ev.csv
ev_synthetic_trg_v_29ev.csv
ev_synthetic_trg_v_36010ev.csv
ev_synthetic_trg_v_3ev.csv
ev_synthetic_trg_v_46ev.csv
ev_synthetic_trg_v_48ev.csv
ev_synthetic_trg_v_52ev.csv
ev_synthetic_trg_v_53ev.csv
ev_synthetic_trg_v_55ev.csv
ev_synthetic_trg_v_58ev.csv
ev_synthetic_trg_v_5ev.csv
ev_synthetic_trg_v_63ev.csv
ev_synthetic_trg_v_66ev.csv
ev_synthetic_trg_v_67ev.csv
ev_synthetic_trg_v_68ev.csv
ev_synthetic_trg_v_6ev.csv
ev_synthetic_trg_v_7617ev.csv
ev_synthetic_trg_v_7830ev.csv
ev_synthetic_trg_v_7ev.csv
hist_trg_gamma_diffuse_nsb_1x_corsika_0000ID.root
hist_SiPM.root
hist_dbscan.root
hist_dbscan_Aggregation.root
hist_dbscan_Aggregation.root.pdf
hist_dbscan_Compound.root
hist_dbscan_Compound.root.pdf
hist_dbscan_S_sets.root
hist_dbscan_S_sets.root.pdf
hist_dbscan_spiral.root
hist_dbscan_spiral.root.pdf
sipm_ped_norm.pdf
hist_dbscan_worms_2d.root
hist_dbscan_worms_2d.root.pdf
ev_synthetic_12118108_441406/
ev_synthetic_127417_798401/
ev_synthetic_144155_313107/
ev_synthetic_177092_994209/
ev_synthetic_218806_854200/
ev_synthetic_287758_446206/
ev_synthetic_3192050_627308/
ev_synthetic_35489_724004/
ev_synthetic_58871_388001/
ev_synthetic_6548_2970607/
ev_synthetic_6792462_345203/
ev_synthetic_7677_156900/
ev_synthetic_789565_613208/
ev_synthetic_838629_2509302/
ev_synthetic_942642_8409806/
ev_synthetic_trg_v_12118108ev.csv
ev_synthetic_trg_v_124790ev.csv
ev_synthetic_trg_v_127417ev.csv
ev_synthetic_trg_v_144155ev.csv
ev_synthetic_trg_v_177092ev.csv
ev_synthetic_trg_v_218806ev.csv
ev_synthetic_trg_v_287758ev.csv
ev_synthetic_trg_v_3192050ev.csv
ev_synthetic_trg_v_338715ev.csv
ev_synthetic_trg_v_35489ev.csv
ev_synthetic_trg_v_499225ev.csv
ev_synthetic_trg_v_58871ev.csv
ev_synthetic_trg_v_628655ev.csv
ev_synthetic_trg_v_6548ev.csv
ev_synthetic_trg_v_6792462ev.csv
ev_synthetic_trg_v_7677ev.csv
ev_synthetic_trg_v_789565ev.csv
ev_synthetic_trg_v_838629ev.csv
ev_synthetic_trg_v_942642ev.csv
hist_fast_electron_nsb_1x_cut.log
hist_test_single_pe_amplitude_generator.root
hist_test_single_pe_amplitude_generator_all_gen.root
hist_fast_gamma_on_nsb_1x_cut_faint.root
data_for_luca.zip
hist_50pe_diff_trg_counter_0ev.root
hist_50pe_diff_trg_counter_10ev.root
hist_50pe_diff_trg_counter_11ev.root
hist_50pe_diff_trg_counter_12ev.root
hist_50pe_diff_trg_counter_13ev.root
hist_50pe_diff_trg_counter_14ev.root
hist_50pe_diff_trg_counter_15ev.root
hist_50pe_diff_trg_counter_16ev.root
hist_50pe_diff_trg_counter_1ev.root
hist_50pe_diff_trg_counter_2ev.root
hist_50pe_diff_trg_counter_3ev.root
hist_50pe_diff_trg_counter_4ev.root
hist_50pe_diff_trg_counter_5ev.root
hist_50pe_diff_trg_counter_6ev.root
hist_50pe_diff_trg_counter_7ev.root
hist_50pe_diff_trg_counter_8ev.root
hist_50pe_diff_trg_counter_9ev.root
hist_50pe_trg_counter_0ev.root
hist_50pe_trg_counter_1ev.root
hist_50pe_trg_counter_2ev.root
hist_50pe_trg_counter_3ev.root
hist_50pe_trg_counter_4ev.root
hist_50pe_trg_counter_5ev.root
hist_50pe_trg_counter_6ev.root
hist_50pe_trg_counter_7ev.root
hist_50pe_trg_counter_8ev.root
hist_50pe_trg_counter_9ev.root
hist_trg_NGB.root
hist_trg_counter_0ev.root
hist_trg_counter_1ev.root
hist_trg_counter_2ev.root
hist_trg_counter_3ev.root
hist_trg_counter_4ev.root
hist_trg_counter_5ev.root
hist_trg_counter_6ev.root
hist_trg_counter_7ev.root
hist_trg_counter_8ev.root
hist_trg_counter_9ev.root
4-dist_14-dist.pdf
result.root
result_NGB.root
result_gamma_diffuse_nsb_1x_5binE_1binTheta_3binDist.root
result_gamma_diffuse_nsb_1x_5binE_3binTheta_3binDist_0000ID.root
result_gamma_on_nsb_1x_5binE_0binTheta_3binDist.root
Weight_vs_E_Tev.pdf
evH_test.pdf
evH_test_Get_th_bin_ID_and_e_bin_ID.pdf
evH_test_Get_th_bin_ID_and_e_bin_ID_E.pdf
evH_test_Get_th_bin_ID_and_e_bin_ID_th.pdf
result_proton_10binE_1binTheta_3binDist.root
muon_head.csv
muon_head.pkl_0
muon_pe.csv
muon_pe_info.pkl_0
evH_test_get_arbitrary_hist_ID_r_core_10m.pdf
evH_test_get_arbitrary_hist_ID_r_core_1800m.pdf
evH_test_get_arbitrary_hist_ID_r_core_200m.pdf
evH_test_get_bin.pdf
hist_rate_proton_diff.root
r_core_dist.pdf
r_core_dist_hist.pdf
hist_trgA_corsika_0000ID_test_live.root
multiply_data_proton_nsb_1x.log
hist_trgA_corsika_0000ID_test_live.log
hist_trgA_test_live_proton_corsika_0000ID.log
hist_trgA_test_live_proton_corsika_0000ID.root
